<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <parameter name="port"  value="80"/>
  <parameter name="browserPort"  value="4444"/>
  <parameter name="host"  value="192.168.1.109"/>
  <test thread-count="5" name="Test">
    <classes>
      <class name="tests.LoginAsAdminTest"/>
      <class name="tests.AddUserTest"/>
      <class name="tests.LoginAsNewUserTest"/>
      <class name="tests.AddNewArticleTest"/>
      <class name="tests.EditArticleTest"/>
      <class name="tests.AddCategoryTest"/>
      <class name="tests.AssignCategoryTest"/>
      <class name="tests.ChangePasswordTest"/>
      <class name="tests.AddMenuItemTest"/>
      <class name="tests.ArchiveArticleTest"/>
      <class name="tests.SeeArchivedArticleTest"/>
      <class name="tests.AddGroupTest"/>
      <class name="tests.AssignUserToGroupTest"/>
      <class name="tests.AddFieldTest"/>
      <class name="tests.AddFieldGroupTest"/>
      <class name="tests.AssignFieldToGroupTest"/>
      <class name="tests.DeleteArticleTest"/>
      <class name="tests.DeleteUserGroupTest"/>
      <class name="tests.DeleteFieldGroupTest"/>
      <class name="tests.DeleteFieldTest"/>
      <class name="tests.DeleteUserTest"/>
      <class name="tests.DeleteCategoryTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
